<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${job_create_title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/jobs.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <!-- Tom Select CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tom-select/2.2.2/css/tom-select.bootstrap5.min.css">
</head>
<body>
<!-- Loading overlay -->
<div th:replace="~{component/load::load}"></div>
<div class="d-flex">
    <!-- Left sidebar -->
    <div class="sidebar" th:replace="~{component/left-sidebar::leftSidebar}"></div>

    <!-- Main Content -->
    <div class="content flex-grow-1">
        <!-- Top sidebar -->
        <div th:if="${session.account.getRole().name().equals('ROLE_ADMINISTRATOR')}">
            <div th:replace="~{component/new-top-sidebar :: newTopSidebar(${job_list}, '/jobs/admin/listAllJob', ${job_create_title})}"></div>
        </div>
        <div th:if="${session.account.getRole().name().equals('ROLE_MANAGER')}">
            <div th:replace="~{component/new-top-sidebar :: newTopSidebar(${job_list}, '/jobs/manager/list/' + ${userId}, ${job_create_title})}"></div>
        </div>

        <!-- Page Header -->
        <div class="d-flex flex-column mb-4 animate__animated animate__fadeInUp">
            <h1 class="module-title" th:text="${job_title}"></h1>
            <p class="submodule-title" th:text="${job_create_title}"></p>
        </div>

        <div class="bg-white p-4 rounded">
            <!-- Form -->
            <form id="jobForm"
                  th:action="${role == 'manager' ? '/jobs/manager/create-job/' + managerId : '/jobs/admin/add-job'}"
                  th:method="post" th:object="${jobDTO}">

                <div class="row g-4">
                    <div class="col-md-6">
                        <label class="form-label">
                            <i class="fa-solid fa-file-signature"></i>
                            <span th:text="${job_title}"></span>
                            <span class="text-danger">*</span>
                        </label>
                        <input id="title" class="form-control" type="text" th:field="*{title}">
                        <span class="text-danger error-msg" id="titleError"></span>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">
                            <i class="fa-solid fa-lightbulb"></i>
                            <span th:text="${skillTitle}"></span>
                            <span class="text-danger">*</span>
                        </label>
                        <select id="skills" class="form-control" multiple th:field="*{skillNames}">
                            <option th:each="skill : ${skills}" th:value="${skill.id}" th:text="${skill.name}"></option>
                        </select>
                        <span class="text-danger error-msg" id="skillsError"></span>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">
                            <i class="fa-solid fa-calendar-day"></i>
                            <span th:text="${start_date_title}"></span>
                            <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" type="date" th:field="*{startDate}" id="startDate">
                        <span class="text-danger error-msg" id="startDateError"></span>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">
                            <i class="fa-solid fa-calendar-check"></i>
                            <span th:text="${end_date_title}"></span>
                            <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" type="date" th:field="*{endDate}" id="endDate">
                        <span class="text-danger error-msg" id="endDateError"></span>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">
                            <i class="fa-solid fa-dollar-sign"></i>
                            <span th:text="${salary_range_title}"></span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="d-flex gap-3">
                            <input class="form-control" type="number" th:field="*{salaryFrom}" id="salaryFrom">
                            <input class="form-control" type="number" th:field="*{salaryTo}" id="salaryTo">
                            <span class="text-danger error-msg" id="salaryError"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">
                            <i class="fa-solid fa-gift"></i>
                            <span th:text="${benefits_label}"></span>
                            <span class="text-danger">*</span>
                        </label>
                        <select id="benefits" class="form-control" multiple th:field="*{benefitNames}">
                            <option th:each="benefit : ${benefits}" th:value="${benefit.id}" th:text="${benefit.name}">
                            </option>
                        </select>
                        <span class="text-danger error-msg" id="benefitsError"></span>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">
                            <i class="fa-solid fa-map-marker-alt"></i>
                            <span th:text="${working_address_title}"></span>
                            <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" type="text" th:field="*{location}" id="workingAddress">
                        <span class="text-danger error-msg" id="workingAddressError"></span>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">
                            <i class="fa-solid fa-layer-group"></i>
                            <span th:text="${level_title}"></span>
                            <span class="text-danger">*</span>
                        </label>
                        <select id="levels" class="form-control" multiple th:field="*{levelNames}">
                            <option th:each="level : ${levels}" th:value="${level.id}" th:text="${level.name}"></option>
                        </select>
                        <span class="text-danger error-msg" id="levelsError"></span>
                    </div>

                    <div class="col-12">
                        <label class="form-label">
                            <i class="fa-solid fa-file-alt"></i>
                            <span th:text="${description_title}"></span>
                            <span class="text-danger">*</span>
                        </label>
                        <textarea class="form-control" rows="4" th:field="*{description}" id="description"></textarea>
                        <span class="text-danger error-msg" id="descError"></span>
                    </div>
                </div>

                <div class="d-flex justify-content-end gap-3 mt-5">
                    <button class="btn btn-success" type="submit">
                        <i class="fa-solid fa-check"></i>
                        <span th:text="${submitBtn}"></span>
                    </button>
                    <a th:href="${role == 'manager' ? '/jobs/manager/list/' + session.account.getUserID() : '/jobs/admin/listAllJob'}"
                       class="btn btn-danger"
                       type="button">
                        <i class="fa-solid fa-times"></i>
                        <span th:text="${cancelBtn}"></span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<!-- Tom Select JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tom-select/2.2.2/js/tom-select.complete.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Initialize Bootstrap dropdowns
        var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'))
        var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
            return new bootstrap.Dropdown(dropdownToggleEl)
        });

        // Animate elements sequentially
        const animateElements = (selector, delay = 100) => {
            const elements = document.querySelectorAll(selector);
            elements.forEach((element, index) => {
                setTimeout(() => {
                    element.classList.add('show');
                }, index * delay);
            });
        };

        // Stagger animations for different elements
        setTimeout(() => animateElements('.page-title'), 100);
        setTimeout(() => animateElements('.search-section'), 200);
        setTimeout(() => animateElements('.interview-card, tbody tr'), 300);
        setTimeout(() => animateElements('.pagination, .mt-4'), 500);

        // View toggle functionality
        const gridViewBtn = document.getElementById('gridViewBtn');
        const tableViewBtn = document.getElementById('tableViewBtn');
        const gridView = document.getElementById('gridView');
        const tableView = document.getElementById('tableView');

        if (gridViewBtn && tableViewBtn && gridView && tableView) {
            gridViewBtn.addEventListener('click', function () {
                gridView.style.display = 'grid';
                tableView.style.display = 'none';
                gridViewBtn.classList.add('active');
                tableViewBtn.classList.remove('active');
            });

            tableViewBtn.addEventListener('click', function () {
                gridView.style.display = 'none';
                tableView.style.display = 'block';
                gridViewBtn.classList.remove('active');
                tableViewBtn.classList.add('active');
            });
        }

        new TomSelect("#skills", {
            plugins: ['remove_button'],
            create: false,
            placeholder: "Select skills..."
        });

        new TomSelect("#benefits", {
            plugins: ['remove_button'],
            create: false,
            placeholder: "Select benefits..."
        });

        new TomSelect("#levels", {
            plugins: ['remove_button'],
            create: false,
            placeholder: "Select levels..."
        });

        document.getElementById("jobForm").addEventListener("submit", function (event) {
            let isValid = true;

            // Xoá các lỗi cũ
            document.querySelectorAll(".error-msg").forEach(el => el.textContent = "");

            // Lấy các giá trị
            const title = document.getElementById("title").value.trim();
            const skills = Array.from(document.getElementById("skills").selectedOptions);
            const benefits = Array.from(document.getElementById("benefits").selectedOptions);
            const levels = Array.from(document.getElementById("levels").selectedOptions);

            const startDate = new Date(document.getElementById("startDate").value);
            const endDate = new Date(document.getElementById("endDate").value);
            const today = new Date();
            today.setHours(0, 0, 0, 0);

            const salaryFrom = parseFloat(document.getElementById("salaryFrom").value);
            const salaryTo = parseFloat(document.getElementById("salaryTo").value);

            const workingAdress = document.getElementById("workingAddress").value.trim();

            const description = document.getElementById("description").value.trim();

            // Validate title
            if (title === "") {
                document.getElementById("titleError").textContent = "Vui lòng nhập tiêu đề công việc.";
                isValid = false;
            }

            if (workingAdress === "") {
                document.getElementById("workingAddressError").textContent = "Vui lòng nhập địa chỉ làm việc.";
                isValid = false;
            }

            // Validate skills
            if (skills.length === 0) {
                document.getElementById("skillsError").textContent = "Vui lòng chọn ít nhất 1 kỹ năng.";
                isValid = false;
            }

            // Validate benefits
            if (benefits.length === 0) {
                document.getElementById("benefitsError").textContent = "Vui lòng chọn ít nhất 1 phúc lợi.";
                isValid = false;
            }

            // Validate levels
            if (levels.length === 0) {
                document.getElementById("levelsError").textContent = "Vui lòng chọn ít nhất 1 cấp bậc.";
                isValid = false;
            }

            // Validate start date
            if (isNaN(startDate)) {
                document.getElementById("startDateError").textContent = "Vui lòng chọn ngày bắt đầu.";
                isValid = false;
            } else if (startDate < today) {
                document.getElementById("startDateError").textContent = "Ngày bắt đầu phải từ hôm nay trở đi.";
                isValid = false;
            }

            // Validate end date
            if (isNaN(endDate)) {
                document.getElementById("endDateError").textContent = "Vui lòng chọn ngày kết thúc.";
                isValid = false;
            } else if (endDate < startDate) {
                document.getElementById("endDateError").textContent = "Ngày kết thúc không được nhỏ hơn ngày bắt đầu.";
                isValid = false;
            }

            // Validate salary
            if (isNaN(salaryFrom) || salaryFrom < 0 || isNaN(salaryTo) || salaryTo < 0) {
                document.getElementById("salaryError").textContent = "Lương phải là số không âm.";
                isValid = false;
            } else if (salaryTo < salaryFrom) {
                document.getElementById("salaryError").textContent = "Lương đến phải lớn hơn hoặc bằng lương từ.";
                isValid = false;
            }

            // Validate description
            if (description.length < 10) {
                document.getElementById("descError").textContent = "Mô tả cần ít nhất 10 ký tự.";
                isValid = false;
            }

            if (!isValid) {
                event.preventDefault();
            }
        });

        // Hide loading overlay
        setTimeout(() => {
            const loadingOverlay = document.getElementById('loadingOverlay');
            loadingOverlay.style.opacity = '0';
            setTimeout(() => {
                loadingOverlay.style.display = 'none';
            }, 300);
        }, 500);

        // Logout function
        window.logout = function () {
            if (confirm('Are you sure you want to logout?')) {
                window.location.href = '/logout';
            }
        }
    });
</script>

</html>
