<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${delete_job_title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <h2 th:text="${confirm_delete_job_title}"></h2>
    <p th:text="${confirm_delete_job}"></p>

    <form method="post">
        <button type="submit" class="btn btn-danger" th:text="${deleteBtn}"></button>
        <a th:href="@{/jobs}" class="btn btn-secondary" th:text="${cancelBtn}"></a>
    </form>
</body>

</html>