<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${create_offer_title}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/offer.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
<div th:replace="~{recruiter-features/navbar :: mobile-menu}"></div>

<!-- Sidebar -->
<div class="sidebar" th:replace="~{component/left-sidebar::leftSidebar}"></div>

<div class="content" style="padding-left: 50px">
    <div th:replace="~{component/new-top-sidebar::newTopSidebar(${offer_list}, @{/offer/offer/{rid}(rid=${T(com.ims_team4.controller.utils.UrlIdEncoder).encodeId(session.account.userID)})}, ${create_offer_title})}"></div>

    <form th:action="@{/offer/create}" method="get" class="info-card mt-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="text-dark" th:text="${create_offer_title}"></h4>
        </div>
        <hr>
        <input type="hidden" name="rid" th:value="${rid}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="info-title" th:text="${candidate} + ':'"></label>
                    <label>
                        <select class="edit-offer form-select" name="candidate" required>
                            <option th:value="0" th:text="${select_candidate_name}"></option>
                            <th:block th:each="candidate : ${listC}">
                                <option th:each="user : ${listU}"
                                        th:value="${candidate.getUserId()}"
                                        th:if="${user.getId() == candidate.getUserId()}"
                                        th:text="${user.getFullname()}"></option>
                            </th:block>
                        </select>
                    </label>
                </div>

                <div class="form-group">
                    <label class="info-title" th:text="${positionTitle} + ':'"></label>
                    <label>
                        <select class="edit-offer form-select" name="position" required>
                            <option th:value="0" th:text="${select_position_name}"></option>
                            <option th:each="position : ${listP}" th:value="${position.getId()}"
                                    th:text="${position.getName()}"></option>
                        </select>
                    </label>
                </div>

                <div class="form-group">
                    <label class="info-title" th:text="${approver_title} + ':'"></label>
                    <label>
                        <select class="edit-offer form-select" name="approver" required>
                            <option th:value="0" th:text="${select_approver_name}"></option>
                            <th:block th:each="employee : ${listE}">
                                <option th:each="user : ${listU}" th:value="${employee.getUserID()}"
                                        th:if="${user.getId() == employee.getUserID()}"
                                        th:text="${user.getFullname()}"></option>
                            </th:block>
                            <th:block th:each="admin : ${admin}">
                                <option th:each="user : ${listU}" th:value="${admin.getUserID()}"
                                        th:if="${user.getId() == admin.getUserID()}"
                                        th:text="${user.getFullname()}"></option>
                            </th:block>
                        </select>
                    </label>
                </div>

                <div class="form-group">
                    <label class="info-title" th:text="${interview_info} + ':'"></label>
                    <label>
                        <select class="edit-offer form-select" name="interviewId" id="interviewSelect" required>
                            <option value="0" data-note="" th:text="${select_interview_schedule}"></option>
                            <th:block th:each="interview : ${listI}">
                                <option th:value="${interview.getId()}" th:text="${interview.getTitle()}"
                                        th:data-note="${interview.getNote()}">
                                </option>
                            </th:block>
                        </select>
                    </label>
                    <br/>
                </div>

                <div class="form-group">
                    <label class="info-title" th:text="${contract_period} + ':'"></label>
                    <div class="d-flex">
                        <input name="from" id="from" type="date" class="form-control me-2" required/>
                        <input name="to" id="to" type="date" class="form-control" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="info-title" th:text="${note} + ' ' + ${interviewTitle} + ':'" for="interviewNote"></label>
                    <input type="text" name="interviewNote"
                           id="interviewNote" class="form-control"
                           readonly required th:placeholder="${note} + ' ' + ${interviewTitle}">
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="info-title" th:text="${contract_type} + ':'"></label>
                    <label>
                        <select class="edit-offer form-select" name="contractType" required>
                            <option th:value="0" th:text="${select_type_contract}"></option>
                            <option th:each="contractType : ${listCo}" th:value="${contractType.getId()}"
                                    th:text="${contractType.getName()}"></option>
                        </select>
                    </label>
                </div>

                <div class="form-group">
                    <label class="info-title" th:text="${level_title} + ':'"></label>
                    <label>
                        <select class="edit-offer form-select" name="level" required>
                            <option th:value="0" th:text="${select_level}"></option>
                            <option th:each="level : ${listL}" th:value="${level.getId()}"
                                    th:text="${level.getName()}"></option>
                        </select>
                    </label>
                </div>

                <div class="form-group">
                    <label class="info-title" th:text="${departmentTitle}"></label>
                    <label>
                        <select class="edit-offer form-select" name="department" required>
                            <option th:value="0" th:text="${select_department}"></option>
                            <option th:each="department : ${listD}" th:value="${department.getId()}"
                                    th:text="${department.getName()}"></option>
                        </select>
                    </label>
                </div>

                <div class="form-group">
                    <label class="info-title" th:text="${recruiter} + ':'"></label>
                    <label>
                        <select class="edit-offer form-select" name="recruiterOwner" id="userSelect" required>
                            <option th:value="0" th:text="${select_recruiter}"></option>
                            <th:block th:each="employee : ${listR}">
                                <option th:each="user : ${listU}" th:value="${employee.getUserID()}"
                                        th:if="${user.getId() == employee.getUserID()}"
                                        th:text="${user.getFullname()}"></option>
                            </th:block>
                        </select>
                    </label>
                    <a id="assignButton" class="text-decoration-none" style="cursor: pointer"
                       th:text="${assigned_to_me}"></a>
                </div>

                <div class="form-group">
                    <label for="duedate" class="info-title" th:text="${due_date} + ':'"></label>
                    <input id="duedate" name="duedate" type="date" class="form-control" required/>
                </div>

                <div class="form-group">
                    <label for="salary" class="info-title" th:text="${basic_salary} + ':'"></label>
                    <input required id="salary" name="salary" type="text" class="form-control"
                           placeholder="Enter basic salary"/>
                    <small id="salaryHelp" class="text-danger"></small>
                </div>

                <div class="form-group">
                    <label for="note" class="info-title" th:text="${note} + ':'"></label>
                    <textarea required rows="4" id="note" name="note" type="text" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-end">
            <a th:href="@{/offer/offer/{rid}(rid=${T(com.ims_team4.controller.utils.UrlIdEncoder).encodeId(rid)})}" class="btn btn-secondary me-2" th:text="${cancelBtn}"></a>
            <button type="submit" class="btn btn-primary" th:text="${submitBtn}"></button>
        </div>
    </form>
    <div id="chatbot-icon" onclick="toggleChatBot()">
        <img src="https://cdn-icons-png.flaticon.com/512/4712/4712035.png" alt="Chatbot">
    </div>

    <!-- Cửa sổ chat -->
    <div id="chat-window" style="position: relative;">
        <iframe
                src="https://www.coze.com/store/agent/7488646243938762753?bot_id=true"
                allow="microphone"
                id="coze-bot"
                style="height: 80%; border: none;">
        </iframe>
    </div>
</div>

</body>
<script src="/js/recruiter-offer.js"></script>
<script>
    function toggleMobileMenu() {
        const mobileMenu = document.getElementById('mobileMenu');
        mobileMenu.classList.toggle('show');

        const menuIcon = document.querySelector('.menu-toggle i');
        if (mobileMenu.classList.contains('show')) {
            menuIcon.classList.remove('fa-bars');
            menuIcon.classList.add('fa-times');
        } else {
            menuIcon.classList.remove('fa-times');
            menuIcon.classList.add('fa-bars');
        }
    }

    document.addEventListener('click', function (event) {
        const mobileMenu = document.getElementById('mobileMenu');
        const menuToggle = document.querySelector('.menu-toggle');

        if (!menuToggle.contains(event.target) &&
            !mobileMenu.contains(event.target) &&
            mobileMenu.classList.contains('show')) {
            toggleMobileMenu();
        }
    });

    document.getElementById('salary').addEventListener('input', function () {
        const salary = this.value;
        const salaryHelp = document.getElementById('salaryHelp');

        if (!/^\d+$/.test(salary) || parseInt(salary) <= 0) {
            salaryHelp.textContent = 'Salary must be a natural number greater than 0';
            this.setCustomValidity('Invalid');
        } else {
            salaryHelp.textContent = '';
            this.setCustomValidity('');
        }
    });

    document.getElementById("assignButton").addEventListener("click", function () {
        const idSelect = `[[${rid}]]`;

        if (idSelect) {
            const select = document.getElementById("userSelect");
            for (const option of select.options) {
                if (option.value === idSelect) {
                    option.selected = true;
                    break;
                }
            }
        }
    })

    document.addEventListener("DOMContentLoaded", function () {
        const dueDateInput = document.getElementById("duedate");
        const fromDateInput = document.getElementById("from");
        const toDateInput = document.getElementById("to");

        function validateDates(event) {
            const today = new Date().toISOString().split("T")[0];
            const dueDate = dueDateInput.value;
            const fromDate = fromDateInput.value;
            const toDate = toDateInput.value;

            if (dueDate && dueDate < today) {
                alert("Due Date phải lớn hơn hoặc bằng ngày hiện tại.");
                event.preventDefault();
                return;
            }

            if (fromDate && toDate && fromDate > toDate) {
                alert("End Date (To) phải lớn hơn Start Date (From).");
                event.preventDefault();
            }
        }

        document.querySelector("form").addEventListener("submit", validateDates);
    });

    function logout() {
        window.location.href = "/logout";
    }

    document.getElementById("interviewSelect").addEventListener("change", function () {
        let selectedOption = this.options[this.selectedIndex];
        // let note = selectedOption.getAttribute("data-note");
        document.getElementById("interviewNote").value = selectedOption.getAttribute("data-note");
    });
</script>
</html>