<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${edit_offer_title}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/offer.css}">
</head>
<body>
<div class="navbar">
    <div class="logo">DEV IMS</div>
    <div class="menu-icon" onclick="toggleSidebar()">
        <i class="fa-solid fa-bars"></i>
    </div>
</div>
<!-- Sidebar -->
<div class="sidebar" th:replace="~{component/left-sidebar::leftSidebar}"></div>

<div class="content" style="padding-left: 50px">
    <div class="d-flex justify-content-between align-items-center mb-0">
        <div class="container py-1 flex-grow-1" style="flex-basis: 66%;">
            <h3 class="page-title fw-bold text-dark">
                <i class="fa-solid fa-clipboard-list text-primary"></i>
                <span th:text="${edit_offer_title}"></span>
            </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white shadow-sm p-2 rounded">
                    <li class="breadcrumb-item">
                        <th:block th:if="${session.account.getRole().name().equals('ROLE_RECRUITER')}">
                            <a th:href="@{/offer/offer/{rid}(rid=${T(com.ims_team4.controller.utils.UrlIdEncoder).encodeId(rid)})}"
                               class="text-decoration-none text-primary fw-bold">Offer
                                List</a>
                        </th:block>
                        <th:block th:if="${session.account.getRole().name().equals('ROLE_MANAGER')}">
                            <a th:href="@{/offer/managerOffer/{rid}(rid=${T(com.ims_team4.controller.utils.UrlIdEncoder).encodeId(rid)})}"
                               class="text-decoration-none text-primary fw-bold">Offer
                                List</a>
                        </th:block>
                        <th:block th:if="${session.account.getRole().name().equals('ROLE_ADMINISTRATOR')}">
                            <a th:href="@{/offer/adminOffer/{rid}(rid=${T(com.ims_team4.controller.utils.UrlIdEncoder).encodeId(rid)})}"
                               class="text-decoration-none text-primary fw-bold">Offer
                                List</a>
                        </th:block>
                    </li>
                    <li class="breadcrumb-item active text-secondary" aria-current="page"
                        th:text="${edit_offer_title}"></li>
                </ol>
            </nav>
        </div>
        <div th:replace="~{component/top-sidebar::topSidebar}"></div>
    </div>

    <!-- Offer -->
    <form th:action="@{/offer/edit}" method="get" class="info-card mt-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="text-dark" th:text="${offer_detail_title}"></h4>
        </div>
        <hr>
        <div class="row">
            <input type="hidden" name="updateBy" th:value="${session.account.getUserID()}">
            <div class="col-md-6">
                <input type="hidden" name="offerid" th:value="${offer.getId()}">
                <input type="hidden" name="rid" th:value="${session.account.getUserID()}">

                <div class="form-group">
                    <label class="info-title" th:text="${candidate} + ':'"></label>
                    <label>
                        <select class="form-select" name="candidate">
                            <th:block th:each="candidate : ${listC}">
                                <option th:each="user : ${listU}" th:value="${candidate.getUserId()}"
                                        th:if="${user.getId() == candidate.getUserId()}" th:text="${user.getFullname()}"
                                        th:selected="${offer.getCandidateId() == candidate.getUserId()}"></option>
                            </th:block>
                        </select>
                    </label>
                </div>

                <div class="form-group">
                    <label class="info-title" th:text="${positionTitle} + ':'"></label>
                    <label>
                        <select class="form-select" name="position">
                            <option th:each="position : ${listP}" th:value="${position.getId()}"
                                    th:text="${position.getName()}"
                                    th:selected="${offer.getPosition() == position.getId()}">
                            </option>
                        </select>
                    </label>
                </div>

                <div class="form-group">
                    <label class="info-title" th:text="${approver_title} + ':'"></label>
                    <label>
                        <select class="form-select" name="approver">
                            <th:block th:each="employee : ${listE}">
                                <option th:each="user : ${listU}" th:value="${employee.getUserID()}"
                                        th:if="${user.getId() == employee.getUserID()}" th:text="${user.getFullname()}"
                                        th:selected="${offer.getEmployeeId() == employee.getUserID()}"></option>
                            </th:block>
                        </select>
                    </label>
                </div>

                <div class="form-group">
                    <label class="info-title" th:text="${interview_info} + ':'"></label>
                    <label>
                        <select class="form-select" name="interviewId" id="interviewSelect" required>
                            <option value="0" data-note="" th:text="${select_interview_schedule}"></option>
                            <th:block th:each="interview : ${listI}">
                                <option th:value="${interview.getId()}" th:text="${interview.getTitle()}"
                                        th:data-note="${interview.getNote()}"
                                        th:selected="${interview.getId() == offer.getInterviewId()}">
                                </option>
                            </th:block>
                        </select>
                    </label>
                    <br/>
                </div>

                <div class="form-group">
                    <label class="info-title">Contract Period:</label>
                    <div class="d-flex">
                        <input name="from" id="from" type="date" class="form-control me-2"
                               th:value="${offer.getContractPeriodFrom()}"/>
                        <input name="to" id="to" type="date" class="form-control"
                               th:value="${offer.getContractPeriodTo()}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="info-title" th:text="${note} + ' ' + ${interviewTitle} + ':'"></label>
                    <th:block th:each="interview : ${listI}" th:if="${interview.getId() == offer.getInterviewId()}">
                        <label>
                            <input type="text" name="interviewNote" id="interviewNote" class="form-control"
                                   th:value="${interview.getNote()}" required readonly>
                        </label>
                    </th:block>
                </div>

                <div class="form-group">
                    <label class="info-title" th:text="${status} + ':'"></label>
                    <label>
                        <input readonly="" type="text" class="form-control" th:value="${offer.getStatusOfferName()}">
                    </label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="info-title" th:text="${contract_type} + ':'"></label>
                    <label>
                        <select class="form-select" name="contractType">
                            <option th:each="contractType : ${listCo}" th:value="${contractType.getId()}"
                                    th:text="${contractType.getName()}"
                                    th:selected="${offer.getContractTypeId()== contractType.getId()}"></option>
                        </select>
                    </label>
                </div>

                <div class="form-group">
                    <label class="info-title" th:text="${level_title} + ':'"></label>
                    <label>
                        <select class="form-select" name="level">
                            <option th:each="level : ${listL}" th:value="${level.getId()}" th:text="${level.getName()}"
                                    th:selected="${offer.getLevelId() == level.getId()}"></option>
                        </select>
                    </label>
                </div>

                <div class="form-group">
                    <label class="info-title" th:text="${departmentTitle} + ':'"></label>
                    <label>
                        <select class="form-select" name="department">
                            <option th:each="department : ${listD}" th:value="${department.getId()}"
                                    th:text="${department.getName()}"
                                    th:selected="${offer.getDepartmentId() == department.getId()}"></option>
                        </select>
                    </label>
                </div>

                <div class="form-group">
                    <label class="info-title" th:text="${recruiter} + ':'"></label>
                    <label>
                        <select id="userSelect" class="form-select" name="recruiterOwner">
                            <th:block th:each="employee : ${listR}">
                                <option th:each="user : ${listU}" th:value="${employee.getUserID()}"
                                        th:if="${user.getId() == employee.getUserID()}" th:text="${user.getFullname()}"
                                        th:selected="${offer.getRecruiterOwner() == employee.getUserID()}"></option>
                            </th:block>
                        </select>
                    </label>
                    <a id="assignButton" class="text-decoration-none" style="cursor: pointer"
                       th:text="${assigned_to_me}"></a>
                </div>

                <div class="form-group">
                    <label for="duedate" class="info-title" th:text="${due_date} + ':'"></label>
                    <input id="duedate" name="duedate" type="date" class="form-control"
                           th:value="${offer.getDueDate()}"/>
                </div>

                <div class="form-group">
                    <label for="salary" class="info-title" th:text="${basic_salary} + ':'"></label>
                    <input id="salary" name="salary" type="text" class="form-control"
                           th:value="${offer.getBasicSalary()}"/>
                    <small id="salaryHelp" class="text-danger"></small>
                </div>

                <div class="form-group">
                    <label for="note" class="info-title" th:text="${note} + ':'"></label>
                    <input id="note" name="note" type="text" class="form-control" th:value="${offer.getNote()}"/>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-end">
            <th:block th:if="${session.account.getRole().name().equals('ROLE_RECRUITER')}">
                <a th:href="@{/offer/offer/{rid}(rid=${T(com.ims_team4.controller.utils.UrlIdEncoder).encodeId(rid)})}" class="btn btn-secondary me-2"
                   th:text="${cancelBtn}"></a>
            </th:block>
            <th:block th:if="${session.account.getRole().name().equals('ROLE_MANAGER')}">
                <a th:href="@{/offer/managerOffer/{rid}(rid=${T(com.ims_team4.controller.utils.UrlIdEncoder).encodeId(rid)})}" class="btn btn-secondary me-2"
                   th:text="${cancelBtn}"></a>
            </th:block>
            <th:block th:if="${session.account.getRole().name().equals('ROLE_ADMINISTRATOR')}">
                <a th:href="@{/offer/adminOffer/{rid}(rid=${T(com.ims_team4.controller.utils.UrlIdEncoder).encodeId(rid)})}" class="btn btn-secondary me-2"
                   th:text="${cancelBtn}"></a>
            </th:block>
            <button type="submit" class="btn btn-primary" th:text="${submitBtn}"></button>
        </div>
    </form>
    <div id="chatbot-icon" onclick="toggleChatBot()">
        <img src="https://cdn-icons-png.flaticon.com/512/4712/4712035.png" alt="Chatbot">
    </div>

    <!-- Cửa sổ chat -->
    <div id="chat-window" style="position: relative;">
        <iframe
                src="https://www.coze.com/store/agent/7488646243938762753?bot_id=true"
                allow="microphone"
                id="coze-bot">
        </iframe>
    </div>
</div>
<script src="/js/recruiter-offer.js"></script>
<script>
    document.getElementById('salary').addEventListener('input', function () {
        const salary = this.value;
        const salaryHelp = document.getElementById('salaryHelp');

        if (!/^\d+$/.test(salary) || parseInt(salary) <= 0) {
            salaryHelp.textContent = 'Salary must be a natural number greater than 0';
            this.setCustomValidity('Invalid');
        } else {
            salaryHelp.textContent = '';
            this.setCustomValidity('');
        }
    });

    document.getElementById("assignButton").addEventListener("click", function () {
        const urlParams = new URLSearchParams(window.location.search);
        const idSelect = urlParams.get("rid");

        if (idSelect) {
            const select = document.getElementById("userSelect");
            for (const option of select.options) {
                if (option.value === idSelect) {
                    option.selected = true;
                    break;
                }
            }
        }
    })

    document.addEventListener("DOMContentLoaded", function () {
        const dueDateInput = document.getElementById("duedate");
        const fromDateInput = document.getElementById("from");
        const toDateInput = document.getElementById("to");

        function validateDates(event) {
            const today = new Date().toISOString().split("T")[0];
            const dueDate = dueDateInput.value;
            const fromDate = fromDateInput.value;
            const toDate = toDateInput.value;

            if (dueDate && dueDate < today) {
                alert("Due Date phải lớn hơn hoặc bằng ngày hiện tại.");
                event.preventDefault();
                return;
            }

            if (fromDate && toDate && fromDate > toDate) {
                alert("End Date (To) phải lớn hơn Start Date (From).");
                event.preventDefault();
            }
        }

        document.querySelector("form").addEventListener("submit", validateDates);
    });

    function logout() {
        window.location.href = "/logout";
    }

    document.getElementById("interviewSelect").addEventListener("change", function () {
        let selectedOption = this.options[this.selectedIndex];
        let note = selectedOption.getAttribute("data-note");
        document.getElementById("interviewNote").value = note;
    });
</script>
</body>
</html>