<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${dashboard_title}">List Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>

<body>
    <div class="d-flex">

        <!-- Left Sidebar -->
        <div class="sidebar" th:replace="~{component/left-sidebar::leftSidebar}"></div>

        <!-- Main Content -->
        <div class="content flex-grow-1">
            <!-- Top Sidebar / Header - REDESIGNED -->
            <div th:replace="~{component/new-top-sidebar::newTopSidebar(null, null, null)}">
            </div>

            <!-- Search form - REDESIGNED -->
            <div class="search-section slide-in text-center">
                <h3 th:text="${system_name}">Interview Management System</h3>
                <h5 class="text-muted" th:text="${header_title}">Hiring by your way</h5>
            </div>

            <div class="search-section slide-in d-flex flex-column">
                <h5 th:text="${h5_title}"></h5>

                <div class="d-inline-flex">
                    <p th:text="${list_candidates}"></p>&nbsp;
                    <a th:href="@{/candidate/list}" th:text="${click_link}"></a>
                </div>

                <div th:if="${session.account.getRole().name().equals('ROLE_MANAGER')}" class="d-inline-flex">
                    <p th:text="${list_jobs}"></p>&nbsp;
                    <a th:href="@{/jobs/manager/list/{id}(id=${session.account.getUserID()})}"
                        th:text="${click_link}"></a>
                </div>

                <div th:if="${session.account.getRole().name().equals('ROLE_ADMINISTRATOR')}" class="d-inline-flex">
                    <p th:text="${list_jobs}"></p>&nbsp;
                    <a th:href="@{/jobs/admin/listAllJob}" th:text="${click_link}"></a>
                </div>

                <div th:if="${session.account.getRole().name().equals('ROLE_INTERVIEWER')}" class="d-inline-flex">
                    <p th:text="${list_jobs}"></p>&nbsp;
                    <a th:href="@{/jobs/interview/listJob}" th:text="${click_link}"></a>
                </div>

                <div class="d-inline-flex">
                    <p th:text="${list_interviews}"></p>&nbsp;
                    <a th:href="@{/interview/list}" th:text="${click_link}"></a>
                </div>

                <div th:if="${session.account.getRole().name().equals('ROLE_RECRUITER')}" class="d-inline-flex">
                    <p th:text="${list_offers}"></p>&nbsp;
                    <a th:href="@{/offer/offer/{encodedId}(encodedId=${T(com.ims_team4.controller.utils.UrlIdEncoder).encodeId(session.account.userID)})}"
                        th:text="${click_link}"></a>
                </div>

                <div th:if="${session.account.getRole().name().equals('ROLE_MANAGER')}" class="d-inline-flex">
                    <p th:text="${list_offers}"></p>&nbsp;
                    <a th:href="@{/offer/managerOffer/{encodedId}(encodedId=${T(com.ims_team4.controller.utils.UrlIdEncoder).encodeId(session.account.userID)})}"
                        th:text="${click_link}"></a>
                </div>

                <div class="d-inline-flex" th:if="${session.account.getRole().name().equals('ROLE_ADMINISTRATOR')}">
                    <p th:text="${list_offers}"></p>&nbsp;
                    <a th:href="@{/offer/adminOffer/{encodedId}(encodedId=${T(com.ims_team4.controller.utils.UrlIdEncoder).encodeId(session.account.userID)})}"
                        th:text="${click_link}"></a>
                </div>

                <div class="d-inline-flex" th:if="${session.account.getRole().name().equals('ROLE_ADMINISTRATOR')}">
                    <p th:text="${list_users}"></p>&nbsp;
                    <a th:href="@{/user/list}" th:text="${click_link}"></a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Script đầy đủ cũ để hết ở index.js -->
    <script th:src="@{/js/index.js}"></script>
</body>

</html>